footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-logo{
    font-size:50px;
    font-weight: 500;
    font-family: monospace;
    color: rgb(141, 143, 150);
}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category{
    width: 200%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;

}

.category .footer-link{
     text-decoration: none;
     text-transform: capitalize;
     color: rgb(255, 255, 255, 0.75);
    
}

.footer-link:hover{
    color: #fff;

}

.footer-title, .info{
    color: rgb(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-tilte{
    margin-top: 80px;
    color: #fff;
}

.footer-social-contanier{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-links{
    color: #fff;
    margin-left: 20px;

}

.social-links:nth-child(1){
    margin-left: 0;

}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgb(0, 0, 0, 0.2);
}